* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abhaya Libre', serif;
  text-decoration: none;
}

nav ul img {
  width: 100px;
  height: auto;
  padding: 0px 0px 0px;
  align-items: left;
}

body {
  min-height: 100vh;
}

nav {
  background-color: #fff;
  position: fixed;  
  top:0; left:0; right:0;
  padding: 0px 5%;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

nav ul li{
  position: relative;
  float: left;
}

nav ul li a{
  font-size: 20px;
  padding: 20px 25px 0px;
  display: block;
  color: rgb(58, 19, 0);
}

nav ul li a:after {
  display:block;
  content: '';
  border-bottom: solid 3px rgb(58, 19, 0);  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  padding: 8px;
}
nav ul li a:hover:after { transform: scaleX(1); }
nav ul li .now-nav{
  font-weight: bolder;
  border-bottom: solid 3px rgb(58, 19, 0); 
  border-width: min-content;
}
nav ul li .now-nav:after{
  display:hidden;
  transform: none;
  transition: none;
  border-bottom: none;
}
/*
nav ul li.search-icon {
  height: 40px;
  width: 240px;
  background: #f2f2f2;
  border-radius: 5px;
}

nav ul li.search-icon input {
  height: 100%;
  width: 200px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}

nav ul .search-icon .icon{
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
nav ul .search-icon .icon:hover{
  background: #e6e6e6;
}
nav ul .search-icon .icon span{
  color: #222222;
  font-size: 18px;
}
*/
nav ul li.btn{
  font-size: 29px;
  flex: 1;
  padding: 0 10px;
  display: none;
  text-align: right;
}
nav ul li.btn span{
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border-radius: 5px;
  cursor: pointer;
}
nav ul li.btn span.show:before{
  content: '\f00d';
}

@media screen and (max-width: 800px){
  nav ul li.btn{
    display:block;
  }

  nav ul img {
    padding-left: 20px;
    height: 41px; 
    width: auto;
  }
  nav{
    z-index: 1000;
    padding: 7.5px 3%;
  }
  nav ul div.items{
    z-index: -2;
    position: fixed;
    top: -500px;
    right: 0;
    width: 100%;
    background: #ffffff;
    display: grid;
    transition: top .4s;
    width:100%;
  }
  nav ul div.items.show{
    top: 40px;
  }
  nav ul div.items li{
    text-align: center;
    line-height: 30px;
    margin: 5px 0;
  }
  nav ul div.items li a{
    font-size: 19px;
  }
}
@media screen and (max-width: 450px) {
  nav ul{
    flex-wrap: nowrap;
  }
  nav ul li.search{
    width: 50vmin;
  }
  nav ul li input{
    width: 40vmin;
  }
  nav ul li .search-icon{
    width: 10vmin;
  }
}

.header{
	width: 100%;
	min-height: 100vh;
	background-image: linear-gradient(rgba(105, 26, 6, 0.7), rgba(109, 106, 10, 0.2)), url(image/batik-random.jpg);
  background-position: center;
	background-size: cover;
	position: relative;
}

.header .img-back-home{
  height: 100%;
  width: auto;
  z-index: 1;
  position: right;
}

.text-box{
	width: 60%;
	color: #fff;
	position:absolute;
	top: 50%;
	left: 40%;
	transform:translate(-50%, -50%);
	text-align: left;
  user-select: none;
}

.text-box h1{
  font-size: 6.5vh;
  font-style: italic;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  row-gap: -20px;
}

.text-box b{
  font-size: 8vh;
  padding-left: 15px;
  font-family: 'Kaushan Script', cursive;
  font-style: normal;
  font-weight: normal;
}


.text-box .btn-ex{
  max-width: fit-content;
}

.text-box p{
  font-size: 3vh;
  display: block;
  color:#222222;
  padding: 8px 25px;
  margin-left: 5px;
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  background: #ffb917;
  width:fit-content;
  border-radius: 40px;
  transition: 0.1s;
}

.text-box p:hover{
  letter-spacing: 2px;
  background:#f99c11;
  box-shadow: 0 0 10px 3px #f99c11;
  color: #000;
}
/*
.media-scroll{
  margin-top: 30%;
	background:#E5E5E5;
	padding: 10vmin;
	border-radius: 20%;
	position:relative;
  width: 100%;
  margin-left: 15%;
	margin-right: 15%;
  box-shadow:0px 0px 8px #c1c1c1;
  z-index: 1;
}

.element-scroll {
  min-height: 40vh;
}

.home-scroll{
	display: grid;
	grid-auto-flow: column;
  column-gap: 7vmin;
	overflow-x: auto;
  z-index: 1;
}

.home-scroll::-webkit-scrollbar{
  display: none;
}
*/
.scroll-home-bar{
  margin:2%;
  margin-top: 5%;
}
.scroll-home-bar img{
  object-fit: cover;
  object-position: center;
  display: block;
  width: 15vh;
  height:calc(12vh + 5vw);
}
.rt-container {
	margin: 0 auto;
	padding-left:12px;
	padding-right:12px;
}
.rt-row:before, .rt-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.rt-row:after {
  clear: both;
}
[class^="col-rt-"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0 15px;
  min-height: 1px;
  position: relative;
}


@media (min-width: 768px) {
  .rt-container {
    width: 750px;
  }
  [class^="col-rt-"] {
    float: left;
    width: 49.9999999999%;
  }
  .col-rt-6, .col-rt-12 {
    width: 100%;
  }
  
}

@media (min-width: 1200px) {
	.rt-container {
		width: 1170px;
	}
	.col-rt-1 {
		width:16.6%;
	}
	.col-rt-2 {
		width:30.33%;
	}
	.col-rt-3 {
		width:50%;
	}
	.col-rt-4 {
		width: 67.664%;
	}
	.col-rt-5 {
		width: 83.33%;
	}
	

}

@media only screen and (min-width:240px) and (max-width: 768px){
	 .ScriptTop h1, .ScriptTop ul {
		text-align: center;
	}
	.ScriptTop h1{
		margin-top:0;
		margin-bottom:15px;
	}
	.ScriptTop ul{
		 margin-top:12px;		
	}
	
	.ScriptHeader h1,
	.ScriptHeader h2, 
	.scriptnav ul{
		text-align:center;	
	}
	.scriptnav ul{
		 margin-top:12px;		
	}
	#float-right{
		float:none;	
	}
	
}


.home-tengah{
	width: 100%;
	height: auto;
  padding-left: 5%;
  padding-right: 2%;
  padding-top: 12vh;
  display:flex;
}
.line-x{
	content: '';
	width: 100%;
	height: 1px;
	background: #9a9a9a;
	display: block;
}
.home-tengah .tentang-batik{
  width: 70%;
}

.home-tengah .tentang-batik h1{
  font-family: 'Kaushan Script', cursive;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
}

.home-tengah .tentang-batik h2{
  font-size: 20px;
  font-weight: 400;
  font-family: 'Abhaya Libre', serif;
  margin: 5px;
  text-align: justify;
  margin-left: 3%;
}

.home-tengah .tentang-batik h3{
  margin-top:4%;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  font-family: 'Kaushan Script', cursive;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  margin-left: 3%;
}

.home-tengah .berita-home{
  display: block;
  margin: 2%;
  max-width: 29%;
  border-left: #9a9a9a;
  border-left-width: 1px;
  border-left-style: solid;
}
.home-tengah .berita-home h3{
  display: none;
}
.home-tengah .berita-home ul li{
  list-style: none;
  padding:5px;
  padding-left: 5%;
  height: min-content;
  font-size: 14px;
}
.berita-home ul li a{
  color:#222222;
}
.berita-home ul li a h1{
  font-weight: 500;
  letter-spacing: 3px;
}
.berita-home ul li a h2{
  font-weight: 600;
}

@media screen and (max-width:950px){
  .home-tengah{
    display:block;
  }
  .home-tengah .berita-home{
    margin-top: 10vh;
    margin-bottom: 7vh;
    max-width: 100%;
    margin-right: 5%;
    text-align: center;
    border-style: none;
  }
  .home-tengah .tentang-batik{
    width: 100%;
    text-align: center;
    padding-right: 3%;
  }
  .line-x{
    width:100%;
    text-align: center;
  }
  .home-tengah .berita-home ul{
    margin-right: 4%;
  }
  .home-tengah .berita-home h3{
    display: block;
    font-family: 'Kaushan Script', cursive;
    font-weight: normal;
    font-size: 4vh;
    margin-bottom: 3%;
  }
}

.explore{
  width: 100%;
	height: auto;
  padding: 8% 5%;
  padding-top:15vh;
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(62, 62, 62, 0.35)), url(image/batik-random-2.svg);
  background-position: bottom;
  background-size: cover;
  background-blend-mode:overlay;
  text-align: center;
}
.text-explore h1{
  font-family: 'Kaushan Script', cursive;
  font-weight: normal;
  font-size: 33px;
  padding: 1%;
}
.text-explore h2{
  font-weight: normal;
  font-size: 18px;
}
.peta{
  margin-top: 2%;
  position: relative;
}
.svg{
  z-index:2;
}
.kalimantan{
  opacity:0;
  position: absolute;
  z-index: 8;
  margin-top: 14%;
  margin-left:-21%;
  text-align: center;
  width: 22vw;
  height: auto;
}
.sulawesi{
  opacity:0;
  position: absolute;
  top:33.8%;
  left:50.8%;
  text-align: center;
  width: 11.7vw;
  z-index:6;
  height: auto;
}
.papua{
  opacity:0;
  position: absolute;
  top:35%;
  right:11.3%;
  width: 24.6vw;
  text-align: center;
  z-index: 3;
  height: auto;
}
.sumatra{
  opacity:0;
  position: absolute;
  top:25.7%;
  left:11%;
  text-align: center;
  width: 21vw;
  z-index: 4;
  height: auto;
}
.jawa{
  opacity:0;
  position: absolute;
  top: 58%;
  left:28.3%;
  text-align: center;
  width: 36vw;
  height: auto;
  z-index: 5;
}
.peta-box{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  left:0;
  right:0;
  position: absolute;
  z-index:1;
  content: '';
  width: 82%;
  height: 75%;
  flex-shrink: 0;
  background: #1A0F0D;
  box-shadow: 0px 0px 1vh 4px rgba(255, 201, 61, 0.80);
}

.peta-indo{
  margin-top:10%;
  position: absolute;
  z-index: 2;
  margin-left:auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 79%;
  height: auto;

}

.about{
  display: block;
  height: auto;
  width: 100%;
  background-color: #1A0F0D;
  padding-bottom: 5%;
}

.about .header-about{
  padding:1%;
  padding-left: 8%;
  text-align: left;

}

.about .header-about img{
  width: 18vh;
  height:auto;
  vertical-align: -45%;
  filter: invert(100%);
}

.about .header-about h1{
  color: #fff;
  font-family: 'Kaushan Script', cursive;
  font-weight: normal;
  font-size: 4vh;
  display: inline-block;
  letter-spacing: -0.4px;
}

.about h2{
  color: #fff;
  font-weight: normal;
  padding: 0% 8%;
  font-size: 2.5vh;
}
 
/* next is artikel.html */

.artikel nav{
  box-shadow: 5px 0 10px 5px #c1c1c1;
}

.artikel-page{
  width: 100%;
  position:absolute;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(62, 62, 62, 0.35)), url(image/batik-random-2.svg);
  background-position:center;
  background-attachment: fixed;
  background-size: cover;
}
.artikel-isi{
  padding-top: 18px;
  align-items: center;
}
.artikel-page ul{
  display: grid;
}
.artikel-page h1{
  max-width: 750px;
}

.artikel-page ul li{
  display: flex;
  height: 100%;
  /* width:100vh; */
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
}
.berita img{
  display: block;
  object-fit: cover;
  object-position: center;
  height: 24vmin;
  width: 37vmin;
  min-width: 100px;
  min-height: 100px;
  max-height: 200px;
  float: left;
  margin: 0 15px 0 0;
  border-radius: 15px;
}
.bg-berita{
  display: inline;
}
.berita{
  margin-bottom: 25px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /*border : 2px solid; */
  padding:1.5vh;
  width: 90vmax;
  border-radius: 10px;
  height: fit-content;
}
@media screen and (orientation:portrait){
  .berita{
    width:90vmin;
  }
  .text-box{
    width: 70%;
    top: 47%;
    left: 47%;
  }
  .text-box h1{
    font-size: 4vh;
  }
  .text-box b{
    font-size: 5.5vh;
  }
  .text-box p{
    font-size: 2vh;
  }
}
.berita:hover{
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.7);
}
.berita h4{
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 5px;
}
.berita h3{
  font-weight: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  -webkit-box-orient: vertical;
  font-size: 18px;
  text-align: justify;
}

.berita h2{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 28px;
  padding-bottom: 3px;
}
.text-berita{
  margin-left: 10px;
  padding-right: 12px;
  color: #000;
  /* border: 2px solid; */
  /* position: absolute; */
}
.text-berita:active{
  color:#9d3c0f;
}

@media screen and (max-height:720px), screen and (max-width:740px){
  .berita h3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
@media screen and (max-height:670px), screen and (max-width:680px) {
  .berita h3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
@media screen and (max-height:610px), screen and (max-width:580px) {
  .berita h3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
@media screen and (max-height:520px), screen and (max-width:500px) {
  .berita h3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
@media screen and (max-width:580px) {
  .berita img{
    display:none;
  } 
}

/* next is eksplor.html*/

/*bg eksplor*/
.bg-eksplor{
  background-position: center;
	background-size: cover;
  content:'';
  display: block;
  position: absolute;
  z-index:-1;
  height: 90vh;
  width: 100%;
  background-image: linear-gradient(rgba(105, 26, 6, 0.9), rgba(179, 125, 8, 0.5)), url(image/batik-random.jpg);
}
.eksplor .main {
  font-family:Arial;
  width:100%;
  display:block;
  margin:0;
  height: 100vh;
}
.slider-eksplor{
  position: relative;
}
.slider-eksplor img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 70vh;
  position: relative;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 15px;
}
.slider-eksplor .slick-center{
  transform: scale(1.1);
}
.overlay {
  position:absolute;
  top:0;
  height: 70vh;
  width: 71vw;
  margin-top: 6vh;
  z-index: 2;
  border: 3px solid #fff;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.7);
}
.slick-center .overlay {
  margin-left:3px;
  height: 60vh;
  margin-top: 16vh;
  border:none;
  width: calc(71vw - 5.5px);
  background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.85));
}
.text-slider{
  z-index: 3;
  text-align: center;
  position:absolute;
  height: 35vh;
  width: 73vw;
  top: 60vh;
  color:#fff;
}
.text-slider h1{
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.text-slider h2{
  font-weight: normal;
  color: #ffb917;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.slider-eksplor .slick-arrow:before{
  width: 100%!important;
  height: 100%!important;
  position: absolute;
  top: 0;
  left: 0;
}
.slider-eksplor .slick-slide{
  width:77vw;
  padding: 3vw;
  padding-top: 6vh;
}
.slider-eksplor .slick-next:before{
  content:">"!important;
  color: #FFF;
  font-family: Poppins!important;
  font-size: 128px!important;
  font-weight: 400!important;
  background-size: contain!important;
}

.slider-eksplor .slick-prev:before{
  content:"<"!important;
  color: #FFF;
  font-family: Poppins!important;
  font-size: 128px!important;
  font-weight: 400!important;
  background-size: contain!important;
}
.slider-eksplor .slick-arrow{
  z-index:2!important;
  width:60px!important;
  height:60px!important;
}

.slick-next{
  right:40px!important;
}

.slick-prev{
  left:30px!important;
}
/*text up slider yow */
.title-batik .slick-prev{
  z-index:2;
}
.slide-at-eksplor{
  padding-top: 85px;
}
.box-title{
  height: min-content;
  padding: 0px 25vw;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, #000 35%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, #000 35%, rgba(0, 0, 0, 0.00) 100%);
}
@media screen and (max-width:1100px) {
  .box-title{
    padding: 0px 18vw;
  }
}
@media screen and (max-width:800px) {
  .box-title{
    padding: 0px 10vw;
  }
}
@media screen and (max-width:700px) {
  .box-title{
    padding: 0px 0px;
  }
}
.text-title{
  text-align: center;
  display: inline-flex;
  width: max-content;
  align-items: center;
}
.title-batik h3{
  display:inline-block;
  margin-right: 10px;
  font-family: Poppins;
  font-weight: normal;
  font-style: italic;
  font-weight: 400;
  color:#fff;
  font-size: 38px;
}
.title-batik h2{
  display:inline-block;
  width: fit-content;
  font-family: 'Kaushan Script', cursive;
  color:#f99c11;
  font-weight: normal;
  font-size: 44px;
}
.title-batik .slick-slide{
  width: fit-content;
  display:inline;
}
.title-batik .slick-slide{
  width:77vw;
  padding: 3vw;
  padding-top:5px;
  padding-bottom: 5px;
}
.title-batik .slick-next:before{
  content:">"!important;
  color: #FFF;
  font-family: Poppins!important;
  font-size: 60px!important;
  font-weight: 300!important;
  background-size: contain!important;
  opacity:1;
}

.title-batik .slick-prev:before{
  content:"<"!important;
  color: #FFF;
  font-family: Poppins!important;
  font-size: 60px!important;
  font-weight: 300!important;
  background-size: contain!important;
  opacity: 1;
}
.title-batik .slick-arrow{
  z-index:2!important;
  width:60px!important;
  height:60px!important;
}

/* next is galeri.html */
.galeri{
  width: 100%;
  position:absolute;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(62, 62, 62, 0.35)), url(image/batik-random-2.svg);
  background-position:top;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 50px;
}
.galeri nav{
  box-shadow: 5px 0 10px 5px #c1c1c1;
}
.galeri-header{
  text-align: left;
  position:relative;
}
.galeri-text{
  text-align: left;
  margin-top: 120px;
  margin-left:5vw;
  padding:10px;
  width:80vw;
  max-width: 820px;
}
.galeri-text h3{
  font-size: 20px;
  font-weight: normal;
  margin-left: 5px;
}
.galeri-text h1{
  font-family: Poppins;
  font-weight: 500;
  font-size: calc(3.5vh + 1vw);
  font-style:italic;
}
.galeri-isi{
  padding-left:4vw;
  padding-right:4vw;
  position: relative;
  text-align: center;
  margin:auto;
}
.tampilan-galeri{
  display:inline-block;
  /*border:1px solid #000;*/
  margin:calc(12px + 0.2vw);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.tampilan-galeri:hover{
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.7);
}
.list-batik{
  width: 26.5vw;
}
.tampilan-galeri img{
  margin-top: 5%;
  width: 90%;
  height: calc(10vh + 10vw);
  object-fit: cover;
  object-position: center;
}
.list-batik h1{
  font-size: 28px;
  color:#000;
}
.list-batik h2{
  margin-top:-2px;
  font-size: 14px;
  font-family: Poppins;
  font-weight: normal;
  padding-bottom: 13px;
  color:#000;
}
@media screen and (max-width:850px) {
  .list-batik{
    width: 38vw;
  }
}
@media screen and (max-width:450px) {
  .list-batik{
    width:36vw;
  }
  .tampilan-galeri{
    margin: 10px;
  }
}

/* next per artikel */
.artikel-1 nav{
  box-shadow: 5px 0 10px 5px #c1c1c1;
}
.art-isi {
  padding:9vw;
  padding-top: 11vh;
  text-align: left;
}
.art-isi img{
  margin:auto;
  width: 82vw;
  height: 48vh;
  display: block;
  object-fit: cover;
  object-position: center;
}
.art-isi h4, h5{
  margin-top:6px;
  font-size:18px;
  color:#222222;
  font-weight: normal;
}
.art-isi h3{
  margin-top: 22px;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 2px;
}
.art-isi h1{
  margin-top:2px;
  margin-bottom:28px;
  font-size: calc(28px + 1vw)
}
.art-isi h2{
  font-weight: normal;
  font-size:21px;
  text-align: justify;
}
.art-isi h5{
  margin-top:40px;
}
.art-isi h2 s{
  text-align: center;
  font-weight: 700;
  font-size: calc(24px + 0.5vw);
}
.art-isi h2 l{
  font-weight: bold;
  font-size:24px;
}
.art-isi h2 ol{
  margin-left:60px;
}
.btn-art a{
  font-size: calc(25px + 0.3vw);
  font-family:Poppins;
  margin-bottom: 12px;
  border:0px;
  cursor:pointer;
  color:#000;
  padding:3px 20px 3px 0px;
  justify-content: center;
}
.btn-art{
  margin-bottom:10px;
}
.btn-art a:hover{
  color:#ae510e;
}
.btn-art p{
  font-family:Poppins;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 22px;
  display: inline-block;
  margin-top: -3px;
  vertical-align: 10%;
}
/* next per motif*/
.motif nav{
  box-shadow: 5px 0 10px 5px #c1c1c1;
}
.gal-isi {
  padding:5vw;
  padding-top: 11vh;
  text-align: left;
}
.gal-isi img{
  margin:auto;
  width: 40vw;
  height: 70vh;
  display: block;
  object-fit: cover;
  object-position: center;
  float: left;
}
.rcm-gal img:hover{
  transform: scale(1.07);  
}
.motif-text{
  margin-top: 4vh;
  display:block;
  float:right;
  width: 45vw;
}
.gal-img{
  float: left;
}
.gal-isi h4, h5{
  margin-top:6px;
  font-size:18px;
  color:#222222;
  font-weight: normal;
}
.gal-isi h3{
  margin-top: 22px;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 2px;
}
.gal-isi h1{
  margin-top:2px;
  margin-bottom:28px;
  font-size: calc(28px + 1vw)
}
.gal-isi h2{
  font-weight: normal;
  font-size:21px;
}
.gal-isi h5{
  margin-top:40px;
}
.rcm-gal img{
  width: 19vw;
  height: 20vh;
  display: inline-block;
  margin:10px 1vw 0px;
}
.rcm-box h2{
  padding-top:24px;
  padding-left:1.2vw;
  font-family:Poppins;
  font-size: 20px;
  font-weight: 500;
}
.motif-text h1{
  margin-bottom: 2vh;
}
.rcm-box{
  display:block;
  float:right;
  width: 45vw;
}
